@font-face{
    src: url(fonts/spaceage.ttf);
    font-family: space;
}
@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}

@-ms-viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}
.click{
    background: #ccc;
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    display: inline-block;
    border: 1px solid #aaa;
    border-bottom: 2px solid #aaa;

}
.Cookies{
    background: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
 .Cookies .Cookies-content {
     margin: auto;
     width: 70%;
     color: #f0d0f0;
     padding: 15px;
 }
